<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "spring/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <package name="xyz.cloorc.example.springboot.po"></package>
    </typeAliases>
    <mappers>
		<mapper resource="mapper/ExampleMapper.xml"/>
	</mappers>
</configuration>
