<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="Example">
	<sql id="table">example</sql>

	<select id="selectAll" resultType="Example">
		SELECT * FROM <include id="table"/>
	</select>
	<select id="selectOne" resultType="Example">
		SELECT * FROM <include id="table"/> WHERE id = #{id}
	</select>
	<insert id="insertOne" parameterType="Example">
		INSERT INTO <include id="table"/> VALUES(#{id},#{name},#{age})
	</insert>
</mapper>